@font-face {
	src:url("styles/fonts/fonts.swf");
	fontFamily: "HelveticaNeueLT Std Cn";
	fontName: "HelveticaCondensed";
}

@font-face {
	src:url("styles/fonts/fonts.swf");
	fontFamily: "HelveticaNeueLT Std Bold";
	fontName: "HelveticaBold";
}

@font-face {
	src:url("styles/fonts/fonts.swf");
	fontFamily: "HelveticaNeueLT Std Blk";
	fontName: "HelveticaBlack";
}

@font-face {
	src:url("styles/fonts/fonts.swf");
	fontFamily: "TransportDBol";
	fontName: "Transport";
}

@font-face {
	src:url("styles/fonts/fonts.swf");
	fontFamily: "Univers LT Std 55";
	fontName: "Univers";
}

@font-face {
	src:url("styles/fonts/fonts.swf");
	fontFamily: "Univers LT Std 65 Bold";
	fontName: "UniversBold";
}

@font-face {
	src:url("styles/fonts/fonts.swf");
	fontFamily: "Univers LT Std 75 Black";
	fontName: "UniversBlack";
}

@font-face {
	src:url("styles/fonts/fonts.swf");
	fontFamily: "Univers LT Std 57 Cn";
	fontName: "UniversCondensed";
}

@font-face {
	src:url("styles/fonts/fonts.swf");
	fontFamily: "Univers LT Std 45 Light";
	fontName: "UniversLight";
}

@font-face {
	src:url("styles/fonts/fonts.swf");
	fontFamily: "VAG Rounded Std Black";
	fontName: "VAGBlack";
}

@font-face {
	src:url("styles/fonts/fonts.swf");
	fontFamily: "VAG Rounded Std Bold";
	fontName: "VAGBold";
}

@font-face {
	src:url("styles/fonts/fonts.swf");
	fontFamily: "VAG Rounded Std Light";
	fontName: "VAGLight";
}

@font-face {
	src:url("styles/fonts/fonts.swf");
	fontFamily: "VAG Rounded Std Thin";
	fontName: "VAGThin";
}

.header {
	contentBackgroundColor: #212121;
}
