<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<contextName>brainfarm-webapp</contextName>
	<jmxConfigurator contextName="brainfarm-webapp" />
	<appender name="FileAppender" class="ch.qos.logback.core.FileAppender">
		<File>log/brainfarm-webapp.log</File>
		<Append>false</Append>
		<Encoding>UTF-8</Encoding>
		<BufferedIO>false</BufferedIO>
		<ImmediateFlush>true</ImmediateFlush>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%date [%thread] %-5level %logger{35} - %msg%n
			</Pattern>
		</layout>
	</appender>
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
	    <layout type="log4net.Layout.PatternLayout">
	        <Pattern>
				%date [%thread] %-5level %logger{35} - %msg%n
			</Pattern>	    
		</layout>
	</appender>
	<root>
		<appender-ref ref="FileAppender" />
	</root>	
	<logger name="org.brainfarm.java">
		<level value="DEBUG" />
	</logger>		
</configuration>
